In [1]:
# What is the question?
# Are the major stocks the best investments?
# What are the best to buy for next year (more current data but a ton of stocks)
# What are the safest types of stocks to buy by stock type (historical data but only a few specific stocks)

# Predicting what stocks would do well

# function that adds new entries to the database
# based on new entries, machine learning model is further trained
# tells us what stocks to buy

In [2]:
!pip install yahoo_fin
!pip install yfinance
!pip install yahoofinancials

Requirement already satisfied: yahoo_fin in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (0.8.9.1)
Requirement already satisfied: feedparser in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoo_fin) (6.0.8)
Requirement already satisfied: requests in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoo_fin) (2.26.0)
Requirement already satisfied: requests-html in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoo_fin) (0.10.0)
Requirement already satisfied: pandas in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoo_fin) (1.0.5)
Requirement already satisfied: sgmllib3k in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from feedparser->yahoo_fin) (1.0.0)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests->yahoo_fin) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests->yahoo_fin) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests->yahoo_fin) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests->yahoo_fin) (1.26.7)
Requirement already satisfied: pyppeteer>=0.0.14 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (0.2.6)
Requirement already satisfied: fake-useragent in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (0.1.11)
Requirement already satisfied: w3lib in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (1.22.0)
Requirement already satisfied: bs4 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (0.0.1)
Requirement already satisfied: parse in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (1.19.0)
Requirement already satisfied: pyquery in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (1.4.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas->yahoo_fin) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas->yahoo_fin) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas->yahoo_fin) (2020.1)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (8.2.2)
Requirement already satisfied: websockets<10.0,>=9.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (9.1)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.64.0)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (2.0.0)
Requirement already satisfied: six>=1.4.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from w3lib->requests-html->yahoo_fin) (1.15.0)
Requirement already satisfied: beautifulsoup4 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from bs4->requests-html->yahoo_fin) (4.10.0)
Requirement already satisfied: lxml>=2.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyquery->requests-html->yahoo_fin) (4.7.1)
Requirement already satisfied: cssselect>0.7.9 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyquery->requests-html->yahoo_fin) (1.1.0)
Requirement already satisfied: importlib-resources; python_version < "3.7" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer>=0.0.14->requests-html->yahoo_fin) (5.4.0)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer>=0.0.14->requests-html->yahoo_fin) (0.4.4)
Requirement already satisfied: zipp>=0.5 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.3.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from beautifulsoup4->bs4->requests-html->yahoo_fin) (2.3.1)
Requirement already satisfied: yfinance in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (0.1.70)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (1.0.5)
Requirement already satisfied: requests>=2.26 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: lxml>=4.5.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (4.7.1)
Requirement already satisfied: numpy>=1.15 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.24.0->yfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.1)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.26->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.26->yfinance) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: six>=1.5 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: yahoofinancials in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (1.6)
Requirement already satisfied: beautifulsoup4 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoofinancials) (4.10.0)
Requirement already satisfied: pytz in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoofinancials) (2020.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from beautifulsoup4->yahoofinancials) (2.3.1)

In [3]:
import pandas as pd
import numpy as np

# import yahoo finance dependencies
import yahoo_fin.stock_info as si
import yfinance as yf
from yahoofinancials import YahooFinancials


# from plotly.offline import plot, init_notebook_mode
# init_notebook_mode()
# import cufflinks as cf
# cf.set_config_file(offline=True)

# sql dependencies
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

import psycopg2
import psycopg2.extras as extras

In [4]:
dow = si.tickers_dow()
sp500 = si.tickers_sp500()
nasdaq = si.tickers_nasdaq()

In [5]:
dow

['AAPL',
 'AMGN',
 'AXP',
 'BA',
 'CAT',
 'CRM',
 'CSCO',
 'CVX',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'KO',
 'MCD',
 'MMM',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'TRV',
 'UNH',
 'V',
 'VZ',
 'WBA',
 'WMT']

In [6]:
# prices_sp500 = {}

# for ticker in sp500:
#   prices_sp500[ticker] = si.get_data(ticker)

In [7]:
aapl_df = yf.download('AAPL', 
                      start='2019-01-01', 
                      end='2021-06-12', 
                      progress=False,
                      
)
# aapl_df["ticker"]= np.repeat("AAPLE", aapl_df.shape[0])
aapl_df["ticker"] = "APPL"
aapl_df

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2019-01-02,38.722500,39.712502,38.557499,39.480000,38.277519,148158800,APPL
2019-01-03,35.994999,36.430000,35.500000,35.547501,34.464802,365248800,APPL
2019-01-04,36.132500,37.137501,35.950001,37.064999,35.936081,234428400,APPL
2019-01-07,37.174999,37.207500,36.474998,36.982498,35.856094,219111200,APPL
2019-01-08,37.389999,37.955002,37.130001,37.687500,36.539623,164101200,APPL
...,...,...,...,...,...,...,...
2021-06-07,126.169998,126.320000,124.830002,125.900002,125.368721,71057600,APPL
2021-06-08,126.599998,128.460007,126.209999,126.739998,126.205177,74403800,APPL
2021-06-09,127.209999,127.750000,126.519997,127.129997,126.593529,56877900,APPL
2021-06-10,127.019997,128.190002,125.940002,126.110001,125.577835,71186400,APPL
2021-06-11,126.529999,127.440002,126.099998,127.349998,126.812599,53522400,APPL

In [13]:
dow_df = pd.DataFrame()
for ticker in dow:
    dow_dl = yf.download(ticker, start='2012-01-01', 
                      end='2022-04-01', progress=False)
    dow_dl['Ticker'] = ticker
    dow_dl['Market'] = "Dow"
#     dow_df['Ticker'] = np.repeat(ticker,dow_df.shape[0])

    dow_df = dow_df.append(dow_dl)

dow_df

,Open,High,Low,Close,Adj Close,Volume,Ticker,Market
Date,,,,,,,,
2012-01-03,14.621429,14.732143,14.607143,14.686786,12.575918,302220800,AAPL,Dow
2012-01-04,14.642857,14.810000,14.617143,14.765714,12.643501,260022000,AAPL,Dow
2012-01-05,14.819643,14.948214,14.738214,14.929643,12.783871,271269600,AAPL,Dow
2012-01-06,14.991786,15.098214,14.972143,15.085714,12.917510,318292800,AAPL,Dow
2012-01-09,15.196429,15.276786,15.048214,15.061786,12.897020,394024400,AAPL,Dow
...,...,...,...,...,...,...,...,...
2022-03-25,143.449997,143.929993,142.259995,143.449997,143.449997,4695100,WMT,Dow
2022-03-28,143.500000,146.059998,143.300003,146.000000,146.000000,6701900,WMT,Dow
2022-03-29,146.600006,148.100006,146.250000,147.229996,147.229996,6644800,WMT,Dow
2022-03-30,147.130005,150.179993,147.039993,149.869995,149.869995,8330500,WMT,Dow
2022-03-31,148.789993,150.539993,148.179993,148.919998,148.919998,9054600,WMT,Dow

In [14]:
sp_df = pd.DataFrame()
for ticker in sp500:
    sp_dl = yf.download(ticker, start='2012-01-01', 
                      end='2022-04-01', progress=False)
    sp_dl['Ticker'] = ticker
    sp_dl['Market'] = "SP500"
#     dow_df['Ticker'] = np.repeat(ticker,dow_df.shape[0])

    sp_df = sp_df.append(sp_dl)

sp_df

1 Failed download:
- CZR: No data found for this date range, symbol may be delisted

,Open,High,Low,Close,Adj Close,Volume,Ticker,Market
Date,,,,,,,,
2012-01-03,25.636623,26.459227,25.565092,26.094421,23.5227,4156394.0,A,SP500
2012-01-04,25.858370,26.008583,25.457796,25.886980,23.3357,4651845.0,A,SP500
2012-01-05,25.665236,26.695278,25.550787,26.466381,23.858,6842651.0,A,SP500
2012-01-06,26.530758,26.866953,26.330473,26.752504,24.116,4711400.0,A,SP500
2012-01-09,26.909870,27.482117,26.802574,27.453505,24.7479,4429563.0,A,SP500
...,...,...,...,...,...,...,...,...
2022-03-25,190.800003,191.580002,188.149994,189.429993,189.43,2363100.0,ZTS,SP500
2022-03-28,190.229996,191.419998,187.600006,189.369995,189.37,2995800.0,ZTS,SP500
2022-03-29,191.889999,194.600006,191.740005,192.279999,192.28,2557400.0,ZTS,SP500
2022-03-30,191.820007,192.779999,189.580002,191.320007,191.32,2612700.0,ZTS,SP500
2022-03-31,192.449997,194.899994,188.490005,188.589996,188.59,2477600.0,ZTS,SP500

In [15]:
frames = [dow_df, sp_df]
sp_dow_df = pd.concat(frames)
sp_dow_df

,Open,High,Low,Close,Adj Close,Volume,Ticker,Market
Date,,,,,,,,
2012-01-03,14.621429,14.732143,14.607143,14.686786,12.5759,302220800.0,AAPL,Dow
2012-01-04,14.642857,14.810000,14.617143,14.765714,12.6435,260022000.0,AAPL,Dow
2012-01-05,14.819643,14.948214,14.738214,14.929643,12.7839,271269600.0,AAPL,Dow
2012-01-06,14.991786,15.098214,14.972143,15.085714,12.9175,318292800.0,AAPL,Dow
2012-01-09,15.196429,15.276786,15.048214,15.061786,12.897,394024400.0,AAPL,Dow
...,...,...,...,...,...,...,...,...
2022-03-25,190.800003,191.580002,188.149994,189.429993,189.43,2363100.0,ZTS,SP500
2022-03-28,190.229996,191.419998,187.600006,189.369995,189.37,2995800.0,ZTS,SP500
2022-03-29,191.889999,194.600006,191.740005,192.279999,192.28,2557400.0,ZTS,SP500
2022-03-30,191.820007,192.779999,189.580002,191.320007,191.32,2612700.0,ZTS,SP500
2022-03-31,192.449997,194.899994,188.490005,188.589996,188.59,2477600.0,ZTS,SP500

In [17]:
sp_dow_df.to_csv('dataframes.csv', index =True)