In [1]:
# What is the question?
# Are the major stocks the best investments?
# What are the best to buy for next year (more current data but a ton of stocks)
# What are the safest types of stocks to buy by stock type (historical data but only a few specific stocks)

# Predicting what stocks would do well

# function that adds new entries to the database
# based on new entries, machine learning model is further trained
# tells us what stocks to buy

In [2]:
!pip install yahoo_fin
!pip install yfinance
!pip install yahoofinancials

Requirement already satisfied: yahoo_fin in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (0.8.9.1)
Requirement already satisfied: requests in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoo_fin) (2.26.0)
Requirement already satisfied: pandas in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoo_fin) (1.0.5)
Requirement already satisfied: feedparser in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoo_fin) (6.0.8)
Requirement already satisfied: requests-html in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoo_fin) (0.10.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests->yahoo_fin) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests->yahoo_fin) (2020.6.20)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests->yahoo_fin) (2.0.7)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests->yahoo_fin) (3.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas->yahoo_fin) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas->yahoo_fin) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas->yahoo_fin) (2020.1)
Requirement already satisfied: sgmllib3k in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from feedparser->yahoo_fin) (1.0.0)
Requirement already satisfied: pyquery in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (1.4.3)
Requirement already satisfied: pyppeteer>=0.0.14 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (0.2.6)
Requirement already satisfied: w3lib in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (1.22.0)
Requirement already satisfied: bs4 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (0.0.1)
Requirement already satisfied: fake-useragent in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (0.1.11)
Requirement already satisfied: parse in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests-html->yahoo_fin) (1.19.0)
Requirement already satisfied: six>=1.5 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.6.1->pandas->yahoo_fin) (1.15.0)
Requirement already satisfied: lxml>=2.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyquery->requests-html->yahoo_fin) (4.7.1)
Requirement already satisfied: cssselect>0.7.9 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyquery->requests-html->yahoo_fin) (1.1.0)
Requirement already satisfied: websockets<10.0,>=9.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (9.1)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (8.2.2)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (2.0.0)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.64.0)
Requirement already satisfied: beautifulsoup4 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from bs4->requests-html->yahoo_fin) (4.10.0)
Requirement already satisfied: zipp>=0.5 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.3.1)
Requirement already satisfied: importlib-resources; python_version < "3.7" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer>=0.0.14->requests-html->yahoo_fin) (5.4.0)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer>=0.0.14->requests-html->yahoo_fin) (0.4.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from beautifulsoup4->bs4->requests-html->yahoo_fin) (2.3.1)
Requirement already satisfied: yfinance in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: pandas>=0.24.0 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (1.18.5)
Requirement already satisfied: lxml>=4.5.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (4.7.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.26->yfinance) (2020.6.20)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.26->yfinance) (2.0.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.24.0->yfinance) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: yahoofinancials in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (1.6)
Requirement already satisfied: beautifulsoup4 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoofinancials) (4.10.0)
Requirement already satisfied: pytz in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from yahoofinancials) (2020.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\farim\anaconda3\envs\pythondata\lib\site-packages (from beautifulsoup4->yahoofinancials) (2.3.1)

In [3]:
import pandas as pd
import numpy as np

# import yahoo finance dependencies
import yahoo_fin.stock_info as si
import yfinance as yf
from yahoofinancials import YahooFinancials


# from plotly.offline import plot, init_notebook_mode
# init_notebook_mode()
# import cufflinks as cf
# cf.set_config_file(offline=True)

# sql dependencies
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

import psycopg2
import psycopg2.extras as extras

In [4]:
dow = si.tickers_dow()
sp500 = si.tickers_sp500()
nasdaq = si.tickers_nasdaq()

In [5]:
dow

['AAPL',
 'AMGN',
 'AXP',
 'BA',
 'CAT',
 'CRM',
 'CSCO',
 'CVX',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'KO',
 'MCD',
 'MMM',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'TRV',
 'UNH',
 'V',
 'VZ',
 'WBA',
 'WMT']

In [6]:
# prices_sp500 = {}

# for ticker in sp500:
#   prices_sp500[ticker] = si.get_data(ticker)

In [7]:
aapl_df = yf.download('AAPL', 
                      start='2019-01-01', 
                      end='2021-06-12', 
                      progress=False,
                      
)
# aapl_df["ticker"]= np.repeat("AAPLE", aapl_df.shape[0])
aapl_df["ticker"] = "APPL"
aapl_df

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2019-01-02,38.722500,39.712502,38.557499,39.480000,38.277527,148158800,APPL
2019-01-03,35.994999,36.430000,35.500000,35.547501,34.464802,365248800,APPL
2019-01-04,36.132500,37.137501,35.950001,37.064999,35.936077,234428400,APPL
2019-01-07,37.174999,37.207500,36.474998,36.982498,35.856091,219111200,APPL
2019-01-08,37.389999,37.955002,37.130001,37.687500,36.539619,164101200,APPL
...,...,...,...,...,...,...,...
2021-06-07,126.169998,126.320000,124.830002,125.900002,125.368721,71057600,APPL
2021-06-08,126.599998,128.460007,126.209999,126.739998,126.205177,74403800,APPL
2021-06-09,127.209999,127.750000,126.519997,127.129997,126.593529,56877900,APPL
2021-06-10,127.019997,128.190002,125.940002,126.110001,125.577835,71186400,APPL
2021-06-11,126.529999,127.440002,126.099998,127.349998,126.812599,53522400,APPL

In [8]:
dow_df = pd.DataFrame()
for ticker in dow:
    dow_dl = yf.download(ticker, start='2019-01-01', 
                      end='2021-01-01', progress=False)
    dow_dl['Ticker'] = ticker
    dow_dl['Market'] = "Dow"
#     dow_df['Ticker'] = np.repeat(ticker,dow_df.shape[0])

    dow_df = dow_df.append(dow_dl)

dow_df

,Open,High,Low,Close,Adj Close,Volume,Ticker,Market
Date,,,,,,,,
2019-01-02,38.722500,39.712502,38.557499,39.480000,38.277523,148158800,AAPL,Dow
2019-01-03,35.994999,36.430000,35.500000,35.547501,34.464794,365248800,AAPL,Dow
2019-01-04,36.132500,37.137501,35.950001,37.064999,35.936081,234428400,AAPL,Dow
2019-01-07,37.174999,37.207500,36.474998,36.982498,35.856094,219111200,AAPL,Dow
2019-01-08,37.389999,37.955002,37.130001,37.687500,36.539623,164101200,AAPL,Dow
...,...,...,...,...,...,...,...,...
2020-12-24,143.539993,144.389999,143.179993,143.500000,140.709503,3018200,WMT,Dow
2020-12-28,144.039993,145.300003,143.330002,145.220001,142.396042,6448300,WMT,Dow
2020-12-29,145.639999,145.850006,143.589996,144.300003,141.493927,5979400,WMT,Dow
2020-12-30,144.880005,145.149994,143.940002,144.179993,141.376266,6250400,WMT,Dow
2020-12-31,144.199997,144.270004,142.850006,144.149994,141.346848,5938000,WMT,Dow

In [9]:
sp_df = pd.DataFrame()
for ticker in sp500:
    sp_dl = yf.download(ticker, start='2019-01-01', 
                      end='2021-01-01', progress=False)
    sp_dl['Ticker'] = ticker
    sp_dl['Market'] = "SP500"
#     dow_df['Ticker'] = np.repeat(ticker,dow_df.shape[0])

    sp_df = sp_df.append(sp_dl)

sp_df

1 Failed download:
- CEG: Data doesn't exist for startDate = 1546329600, endDate = 1609488000

1 Failed download:
- OGN: Data doesn't exist for startDate = 1546329600, endDate = 1609488000

,Open,High,Low,Close,Adj Close,Volume,Ticker,Market
Date,,,,,,,,
2019-01-02,66.500000,66.570000,65.300003,65.690002,64.161545,2113300.0,A,SP500
2019-01-03,65.529999,65.779999,62.000000,63.270000,61.797848,5383900.0,A,SP500
2019-01-04,64.089996,65.949997,64.089996,65.459999,63.936890,3123700.0,A,SP500
2019-01-07,65.639999,67.430000,65.610001,66.849998,65.294548,3235100.0,A,SP500
2019-01-08,67.589996,68.209999,66.699997,67.830002,66.251732,1578100.0,A,SP500
...,...,...,...,...,...,...,...,...
2020-12-24,159.919998,161.869995,159.850006,160.720001,159.582977,417400.0,ZTS,SP500
2020-12-28,161.440002,162.830002,160.309998,162.389999,161.241180,1522400.0,ZTS,SP500
2020-12-29,163.210007,165.100006,162.399994,163.119995,161.965988,1188400.0,ZTS,SP500
2020-12-30,163.509995,164.800003,163.160004,164.270004,163.107864,1009000.0,ZTS,SP500
2020-12-31,164.500000,165.679993,163.229996,165.500000,164.329163,1292600.0,ZTS,SP500

In [10]:
frames = [dow_df, sp_df]
sp_dow_df = pd.concat(frames)
sp_dow_df

,Open,High,Low,Close,Adj Close,Volume,Ticker,Market
Date,,,,,,,,
2019-01-02,38.722500,39.712502,38.557499,39.480000,38.277523,148158800.0,AAPL,Dow
2019-01-03,35.994999,36.430000,35.500000,35.547501,34.464794,365248800.0,AAPL,Dow
2019-01-04,36.132500,37.137501,35.950001,37.064999,35.936081,234428400.0,AAPL,Dow
2019-01-07,37.174999,37.207500,36.474998,36.982498,35.856094,219111200.0,AAPL,Dow
2019-01-08,37.389999,37.955002,37.130001,37.687500,36.539623,164101200.0,AAPL,Dow
...,...,...,...,...,...,...,...,...
2020-12-24,159.919998,161.869995,159.850006,160.720001,159.582977,417400.0,ZTS,SP500
2020-12-28,161.440002,162.830002,160.309998,162.389999,161.241180,1522400.0,ZTS,SP500
2020-12-29,163.210007,165.100006,162.399994,163.119995,161.965988,1188400.0,ZTS,SP500
2020-12-30,163.509995,164.800003,163.160004,164.270004,163.107864,1009000.0,ZTS,SP500
2020-12-31,164.500000,165.679993,163.229996,165.500000,164.329163,1292600.0,ZTS,SP500

In [11]:
sp_dow_df.to_csv('dataframes_v2.csv', index =True)

In [12]:
top_tickers = [ 'AAPL', 'MSFT', 'AMZN', 'FB', 'GOOGL', 'TSLA']

In [14]:
sp_top_df = pd.DataFrame()
for ticker in top_tickers:
    sp_top_dl = yf.download(ticker, start='2019-01-01', 
                      end='2021-01-01', progress=False)
    sp_top_dl['Ticker'] = ticker
    sp_top_dl['Market'] = "SP500"
#     dow_df['Ticker'] = np.repeat(ticker,dow_df.shape[0])

    sp_top_df = sp_top_df.append(sp_top_dl)

sp_top_df

,Open,High,Low,Close,Adj Close,Volume,Ticker,Market
Date,,,,,,,,
2019-01-02,38.722500,39.712502,38.557499,39.480000,38.277523,148158800,AAPL,SP500
2019-01-03,35.994999,36.430000,35.500000,35.547501,34.464802,365248800,AAPL,SP500
2019-01-04,36.132500,37.137501,35.950001,37.064999,35.936077,234428400,AAPL,SP500
2019-01-07,37.174999,37.207500,36.474998,36.982498,35.856098,219111200,AAPL,SP500
2019-01-08,37.389999,37.955002,37.130001,37.687500,36.539619,164101200,AAPL,SP500
...,...,...,...,...,...,...,...,...
2020-12-24,642.989990,666.090027,641.000000,661.770020,661.770020,22865600,TSLA,SP500
2020-12-28,674.510010,681.400024,660.799988,663.690002,663.690002,32278600,TSLA,SP500
2020-12-29,661.000000,669.900024,655.000000,665.989990,665.989990,22910800,TSLA,SP500
2020-12-30,672.000000,696.599976,668.359985,694.780029,694.780029,42846000,TSLA,SP500
2020-12-31,699.989990,718.719971,691.119995,705.669983,705.669983,49649900,TSLA,SP500

In [15]:
sp_top_df.to_csv('dataframes_top.csv', index =True)

In [16]:
sp_top_df_test = pd.DataFrame()
for ticker in top_tickers:
    sp_top_dl_test = yf.download(ticker, start='2021-01-01', 
                      end='2022-04-01', progress=False)
    sp_top_dl_test['Ticker'] = ticker
    sp_top_dl_test['Market'] = "SP500"
#     dow_df['Ticker'] = np.repeat(ticker,dow_df.shape[0])

    sp_top_df_test = sp_top_df_test.append(sp_top_dl_test)

sp_top_df_test

,Open,High,Low,Close,Adj Close,Volume,Ticker,Market
Date,,,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,128.453461,143301900,AAPL,SP500
2021-01-05,128.889999,131.740005,128.429993,131.009995,130.041611,97664900,AAPL,SP500
2021-01-06,127.720001,131.050003,126.379997,126.599998,125.664223,155088000,AAPL,SP500
2021-01-07,128.360001,131.630005,127.860001,130.919998,129.952286,109578200,AAPL,SP500
2021-01-08,132.429993,132.630005,130.229996,132.050003,131.073929,105158200,AAPL,SP500
...,...,...,...,...,...,...,...,...
2022-03-25,1008.000000,1021.799988,997.320007,1010.640015,1010.640015,20677200,TSLA,SP500
2022-03-28,1065.099976,1097.880005,1053.599976,1091.839966,1091.839966,34168700,TSLA,SP500
2022-03-29,1107.989990,1114.770020,1073.109985,1099.569946,1099.569946,24538300,TSLA,SP500
2022-03-30,1091.170044,1113.949951,1084.000000,1093.989990,1093.989990,19955000,TSLA,SP500
2022-03-31,1094.569946,1103.140015,1076.640015,1077.599976,1077.599976,16330900,TSLA,SP500

In [17]:
sp_top_df_test.to_csv('dataframes_top_test.csv', index =True)